
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Page</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>
    <header>
        <div class="container">
            <h1>Accutouch Therapy</h1>
            <nav>
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="registration.html">Patient Registration</a></li>
                    <li id="current_page">Appointment Booking</li>
                    <li><a href="appointment_history.html">Appointment History</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="split-container">
            <div class="split left">
                <img src="../static/images/wellness.png" alt="Description of image">
            </div>
            <div class="split right">
              <div style="width:100%; display: flex; justify-content: center" class="bg-img">
                <form action="/book_appointment" method ='post' class="container_form" id="appointmentForm" >
                  <h1 style="text-align:center">Appointment Booking</h1>
                  <table style="margin:auto;">
                  <tr>
                  <td class="label"><label for="patient_id"><b>Patient ID</b></label></td>
                  <td><input type="number" placeholder="Enter your patient id" id="patient_id" name="patient_id" required></td>
                </tr> 
                <tr>
                   <td class="label"> <label for="location"><b>Location</b></label></td>
                    <td><input list="locations" placeholder="Select a location" id="location" name="location" required>
                    <datalist id="locations">
                      <option value="Anna Nagar-Chennai">
                      <option value="Pallavaram-Chennai">
                      <option value="Vellore">
                      <option value="Katpadi">
                    </datalist></td>
                </tr>
                  <tr>
                  <td class="label"><label for="app_date"><b>Appointment Date</b></label></td>
                  <td><input type="text" id="app_date" name="app_date"></td>
                </tr> 
                </table>
                  <button type="submit" id="submitButton" class="btn">Book Appointment</button>
                </form>
              </div>
            </div>
        </div>
    </main>
    <div id="modal" class="modal">
        <div class="modal-content">
            <span id="close-btn" class="close-btn">&times;</span>
            <h2 style="text-align: center;" id="status"></h2>
            <h3 style="text-align: center;" id="appointment_time"></h3>
            <h3 style="text-align: center; display: none;" id="register_link">If not registered&nbsp;
              <a href="registration.html">Click here</a>
            </h3>
        </div>
    </div>
    <script src="{{ url_for('static',filename='script/script.js') }}"></script>
</body>
</html>

